@import '@radix-ui/themes/styles.css';

:root {
  --background: #111113;
  --foreground: #fff;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
}
